Repository TBD54566975/web5-js, changes with the owners that CODEOWNERS names for each.
All owners: @frankhinek, @csuwildcat, @mistermoe, @thehenrytsai, @lirancohen, @shamilovtim, @nitro-neal

test protocol query/configure permissions, scopes to protocol for protocol interface messages
  packages/agent/src/permissions-api.ts
  packages/api/tests/dwn-api.spec.ts
Owners: @lirancohen, @csuwildcat, @shamilovtim, @nitro-neal

add changeset
  .changeset/eighty-bikes-join.md
  .changeset/slimy-bulldogs-kiss.md
Owners: @csuwildcat, @lirancohen, @thehenrytsai, @shamilovtim, @nitro-neal

Protocol Query with or without grant, Configure with grant. (#894)
  .changeset/eighty-bikes-join.md
  .changeset/slimy-bulldogs-kiss.md
  package.json
  packages/agent/package.json
  packages/agent/src/connect.ts
  packages/agent/src/oidc.ts
  packages/agent/src/permissions-api.ts
  packages/agent/src/utils.ts
  packages/agent/tests/connect.spec.ts
  packages/api/package.json
  packages/api/src/dwn-api.ts
  packages/api/src/web5.ts
  packages/api/tests/dwn-api.spec.ts
  packages/dev-env/docker-compose.yaml
  pnpm-lock.yaml
Owners: @csuwildcat, @lirancohen, @thehenrytsai, @shamilovtim, @nitro-neal

use workspace for deps
  packages/agent/package.json
  packages/api/package.json
  packages/credentials/package.json
  packages/crypto-aws-kms/package.json
  packages/crypto/package.json
  packages/dids/package.json
  packages/identity-agent/package.json
  packages/proxy-agent/package.json
  packages/user-agent/package.json
  pnpm-lock.yaml
Owners: @lirancohen, @csuwildcat, @shamilovtim, @nitro-neal, @thehenrytsai

add changesets
  .changeset/tasty-years-argue.md
  .changeset/twelve-humans-doubt.md
Owners: @csuwildcat, @lirancohen, @thehenrytsai, @shamilovtim, @nitro-neal

use workspace for deps (#903)
  .changeset/tasty-years-argue.md
  .changeset/twelve-humans-doubt.md
  packages/agent/package.json
  packages/api/package.json
  packages/credentials/package.json
  packages/crypto-aws-kms/package.json
  packages/crypto/package.json
  packages/dids/package.json
  packages/identity-agent/package.json
  packages/proxy-agent/package.json
  packages/user-agent/package.json
  pnpm-lock.yaml
Owners: @csuwildcat, @lirancohen, @thehenrytsai, @shamilovtim, @nitro-neal

CODEOWNERS:

# This CODEOWNERS file denotes the project leads
# and encodes their responsibilities for code review.

# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.
# The format is described: https://github.blog/2017-07-06-introducing-code-owners/

# These owners will be the default owners for all directories in the repo that do not have a designated owner.
* @frankhinek @csuwildcat @mistermoe @thehenrytsai @lirancohen @shamilovtim

# These are owners who can approve folders under the root directory and other CICD and QoL directories.
# Should be the union list of all owners of sub-directories, optionally minus the default owners.
/**                      @csuwildcat @lirancohen @thehenrytsai @shamilovtim @nitro-neal

# These are owners of any file in the `common`, `crypto`, `crypto-aws-kms`, `dids`, and
# `credentials` packages and their sub-directories.
/packages/common         @csuwildcat @thehenrytsai @nitro-neal @shamilovtim @lirancohen
/packages/crypto         @csuwildcat @thehenrytsai @nitro-neal @shamilovtim @lirancohen
/packages/crypto-aws-kms @csuwildcat @thehenrytsai @nitro-neal @shamilovtim @lirancohen
/packages/dids           @csuwildcat @thehenrytsai @nitro-neal @shamilovtim @lirancohen
/packages/credentials    @csuwildcat @thehenrytsai @nitro-neal @shamilovtim @lirancohen 

# These are owners of any file in the `agent`, `user-agent`, `proxy-agent`, `identity-agent`, and
# `api` packages and their sub-directories.
/packages/agent          @lirancohen @csuwildcat @shamilovtim
/packages/proxy-agent    @lirancohen @csuwildcat @shamilovtim
/packages/user-agent     @lirancohen @csuwildcat @shamilovtim
/packages/identity-agent @lirancohen @csuwildcat @shamilovtim
/packages/api            @lirancohen @csuwildcat @shamilovtim @nitro-neal
