Repository TBD54566975/web5-js, changes with the owners that CODEOWNERS names for each.
All owners: @frankhinek, @csuwildcat, @mistermoe, @thehenrytsai, @jiyoontbd, @diehuxx, @lirancohen, @shamilovtim

CODEOWNERS:

# This CODEOWNERS file denotes the project leads
# and encodes their responsibilities for code review.

# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.
# The format is described: https://github.blog/2017-07-06-introducing-code-owners/

# These owners will be the default owners for everything in the repo.
* @frankhinek @csuwildcat @mistermoe @thehenrytsai

# These are owners of any file in the `common`, `crypto`, `crypto-aws-kms`, `dids`, and
# `credentials` packages and their sub-directories.
/packages/common         @jiyoontbd @diehuxx @mistermoe @frankhinek @thehenrytsai
/packages/crypto         @jiyoontbd @diehuxx @mistermoe @frankhinek @thehenrytsai
/packages/crypto-aws-kms @jiyoontbd @diehuxx @mistermoe @frankhinek @thehenrytsai
/packages/dids           @jiyoontbd @diehuxx @mistermoe @frankhinek @thehenrytsai
/packages/credentials    @jiyoontbd @diehuxx @mistermoe @frankhinek @thehenrytsai

# These are owners of any file in the `agent`, `user-agent`, `proxy-agent`, `identity-agent`, and
# `api` packages and their sub-directories.
/packages/agent          @lirancohen @frankhinek @csuwildcat @mistermoe @shamilovtim
/packages/proxy-agent    @lirancohen @frankhinek @csuwildcat @mistermoe @shamilovtim
/packages/user-agent     @lirancohen @frankhinek @csuwildcat @mistermoe @shamilovtim
/packages/identity-agent @lirancohen @frankhinek @csuwildcat @mistermoe @shamilovtim
/packages/api            @lirancohen @frankhinek @csuwildcat @mistermoe @shamilovtim

add reference types from dwn-sdk-js to avoid pnpm build error (#507)
  .changeset/beige-tools-yawn.md
  packages/api/src/protocol.ts
  packages/api/src/record.ts
Owners: @frankhinek, @csuwildcat, @mistermoe, @thehenrytsai, @lirancohen, @shamilovtim

add identifier to pkarr error for debugging purposes (#508)
  .changeset/tall-mugs-wink.md
  packages/dids/src/methods/did-dht.ts
Owners: @frankhinek, @csuwildcat, @mistermoe, @thehenrytsai, @jiyoontbd, @diehuxx

bump agent-related packages to correct version of agent
  packages/identity-agent/package.json
  packages/proxy-agent/package.json
  packages/user-agent/package.json
  pnpm-lock.yaml
Owners: @lirancohen, @frankhinek, @csuwildcat, @mistermoe, @shamilovtim, @thehenrytsai

add changeset
  .changeset/cyan-laws-add.md
Owners: @frankhinek, @csuwildcat, @mistermoe, @thehenrytsai

add changeset
  .changeset/old-hotels-yawn.md
Owners: @frankhinek, @csuwildcat, @mistermoe, @thehenrytsai

remove unecessary sinon restore
  packages/agent/tests/rpc-client.spec.ts
Owners: @lirancohen, @frankhinek, @csuwildcat, @mistermoe, @shamilovtim

ignore prototype clients server-info-types from test coverage
  packages/agent/.c8rc.json
Owners: @lirancohen, @frankhinek, @csuwildcat, @mistermoe, @shamilovtim

increase coverage for server info requests
  packages/agent/tests/rpc-client.spec.ts
Owners: @lirancohen, @frankhinek, @csuwildcat, @mistermoe, @shamilovtim

rename server info rpc interface
  packages/agent/src/prototyping/clients/server-info-types.ts
  packages/agent/src/rpc-client.ts
Owners: @lirancohen, @frankhinek, @csuwildcat, @mistermoe, @shamilovtim

dwn-server-info client and types
  packages/agent/src/prototyping/clients/dwn-server-info-cache-level.ts
  packages/agent/src/prototyping/clients/dwn-server-info-cache-memory.ts
  packages/agent/src/prototyping/clients/dwn-server-info-cache-no-op.ts
  packages/agent/src/prototyping/clients/server-info-types.ts
  packages/agent/tests/prototyping/clients/dwn-server-info-cache.spec.ts
Owners: @lirancohen, @frankhinek, @csuwildcat, @mistermoe, @shamilovtim

add server info to rpc clients
  packages/agent/src/prototyping/clients/http-dwn-rpc-client.ts
  packages/agent/src/rpc-client.ts
  packages/agent/tests/rpc-client.spec.ts
Owners: @lirancohen, @frankhinek, @csuwildcat, @mistermoe, @shamilovtim

fix linting
  packages/agent/tests/rpc-client.spec.ts
Owners: @lirancohen, @frankhinek, @csuwildcat, @mistermoe, @shamilovtim

ignore server info types
  packages/agent/.c8rc.json
Owners: @lirancohen, @frankhinek, @csuwildcat, @mistermoe, @shamilovtim

linting fixes
  packages/agent/src/prototyping/clients/server-info-types.ts
  packages/agent/tests/rpc-client.spec.ts
Owners: @lirancohen, @frankhinek, @csuwildcat, @mistermoe, @shamilovtim

clean up sinon after tests
  packages/agent/tests/rpc-client.spec.ts
Owners: @lirancohen, @frankhinek, @csuwildcat, @mistermoe, @shamilovtim

removing unecessary cache implementations
  packages/agent/src/prototyping/clients/dwn-server-info-cache-level.ts
  packages/agent/src/prototyping/clients/dwn-server-info-cache-no-op.ts
  packages/agent/tests/prototyping/clients/dwn-server-info-cache.spec.ts
Owners: @lirancohen, @frankhinek, @csuwildcat, @mistermoe, @shamilovtim
