Repository TBD54566975/web5-js, changes with the owners that CODEOWNERS names for each.
All owners: @frankhinek, @csuwildcat, @mistermoe, @thehenrytsai, @lirancohen, @shamilovtim, @nitro-neal

CODEOWNERS:

# This CODEOWNERS file denotes the project leads
# and encodes their responsibilities for code review.

# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.
# The format is described: https://github.blog/2017-07-06-introducing-code-owners/

# These owners will be the default owners for all directories in the repo that do not have a designated owner.
* @frankhinek @csuwildcat @mistermoe @thehenrytsai @lirancohen @shamilovtim

# These are owners who can approve folders under the root directory and other CICD and QoL directories.
# Should be the union list of all owners of sub-directories, optionally minus the default owners.
/**                      @csuwildcat @lirancohen @thehenrytsai @shamilovtim @nitro-neal

# These are owners of any file in the `common`, `crypto`, `crypto-aws-kms`, `dids`, and
# `credentials` packages and their sub-directories.
/packages/common         @csuwildcat @thehenrytsai @nitro-neal @shamilovtim @lirancohen
/packages/crypto         @csuwildcat @thehenrytsai @nitro-neal @shamilovtim @lirancohen
/packages/crypto-aws-kms @csuwildcat @thehenrytsai @nitro-neal @shamilovtim @lirancohen
/packages/dids           @csuwildcat @thehenrytsai @nitro-neal @shamilovtim @lirancohen
/packages/credentials    @csuwildcat @thehenrytsai @nitro-neal @shamilovtim @lirancohen 

# These are owners of any file in the `agent`, `user-agent`, `proxy-agent`, `identity-agent`, and
# `api` packages and their sub-directories.
/packages/agent          @lirancohen @csuwildcat @shamilovtim
/packages/proxy-agent    @lirancohen @csuwildcat @shamilovtim
/packages/user-agent     @lirancohen @csuwildcat @shamilovtim
/packages/identity-agent @lirancohen @csuwildcat @shamilovtim
/packages/api            @lirancohen @csuwildcat @shamilovtim @nitro-neal

simplify agent-did-resolver-cache abstraction
  audit-ci.json
  packages/agent/src/agent-did-resolver-cache.ts
  packages/agent/src/did-api.ts
Owners: @csuwildcat, @lirancohen, @thehenrytsai, @shamilovtim, @nitro-neal

increase TTL of values that do not change in the DwnDataStore implementation
  packages/agent/src/store-data.ts
Owners: @lirancohen, @csuwildcat, @shamilovtim

fix lint issue, add comment to agent resolver cache get method
  packages/agent/src/agent-did-resolver-cache.ts
  packages/agent/src/store-data.ts
Owners: @lirancohen, @csuwildcat, @shamilovtim

update max ttl to 21 days
  packages/agent/src/store-data.ts
  packages/user-agent/src/user-agent.ts
Owners: @lirancohen, @csuwildcat, @shamilovtim

changeset
  .changeset/kind-deers-burn.md
Owners: @csuwildcat, @lirancohen, @thehenrytsai, @shamilovtim, @nitro-neal

agent did api resolver cache (#855)
  .changeset/kind-deers-burn.md
  .github/workflows/alpha-npm.yml
  audit-ci.json
  package.json
  packages/agent/package.json
  packages/agent/src/agent-did-resolver-cache.ts
  packages/agent/src/did-api.ts
  packages/agent/src/identity-api.ts
  packages/agent/src/index.ts
  packages/agent/src/store-data.ts
  packages/agent/src/test-harness.ts
  packages/agent/tests/agent-did-resolver-cach.spec.ts
  packages/dids/src/resolver/resolver-cache-level.ts
  packages/dids/src/resolver/universal-resolver.ts
  packages/user-agent/src/user-agent.ts
  pnpm-lock.yaml
Owners: @csuwildcat, @lirancohen, @thehenrytsai, @shamilovtim, @nitro-neal

update connect flow end-to-end
  examples/wallet-connect.html
  packages/agent/src/oidc.ts
  packages/api/src/web5.ts
Owners: @csuwildcat, @lirancohen, @thehenrytsai, @shamilovtim, @nitro-neal

update tests for processing a protocol
  packages/agent/src/connect.ts
  packages/agent/tests/connect.spec.ts
Owners: @lirancohen, @csuwildcat, @shamilovtim

fix tests
  packages/agent/src/oidc.ts
  packages/agent/tests/connect.spec.ts
Owners: @lirancohen, @csuwildcat, @shamilovtim

test that permission request must match the protocol definitnion
  packages/agent/tests/connect.spec.ts
Owners: @lirancohen, @csuwildcat, @shamilovtim

Update connect flow (#856)
  examples/wallet-connect.html
  packages/agent/src/connect.ts
  packages/agent/src/oidc.ts
  packages/agent/tests/connect.spec.ts
  packages/api/src/web5.ts
Owners: @csuwildcat, @lirancohen, @thehenrytsai, @shamilovtim, @nitro-neal

decouple one-shot sync and interval sync
  packages/agent/src/sync-engine-level.ts
Owners: @lirancohen, @csuwildcat, @shamilovtim

clean up and increase test coverage
  packages/agent/src/connect.ts
  packages/agent/tests/connect.spec.ts
  packages/agent/tests/sync-engine-level.spec.ts
  packages/api/src/web5.ts
  packages/api/tests/web5.spec.ts
Owners: @lirancohen, @csuwildcat, @shamilovtim, @nitro-neal

add changeset
  .changeset/tall-birds-dress.md
Owners: @csuwildcat, @lirancohen, @thehenrytsai, @shamilovtim, @nitro-neal

Conflicting Sync error. (#857)
  .changeset/tall-birds-dress.md
  packages/agent/src/connect.ts
  packages/agent/src/sync-engine-level.ts
  packages/agent/tests/connect.spec.ts
  packages/agent/tests/sync-engine-level.spec.ts
  packages/api/src/web5.ts
  packages/api/tests/web5.spec.ts
Owners: @csuwildcat, @lirancohen, @thehenrytsai, @shamilovtim, @nitro-neal

reduce did DHT usage in tests
  packages/agent/tests/cached-permissions.spec.ts
  packages/agent/tests/permissions-api.spec.ts
  packages/api/tests/dwn-api.spec.ts
  packages/api/tests/fixtures/protocol-definitions/email.json
  packages/api/tests/protocol.spec.ts
  packages/api/tests/record.spec.ts
Owners: @lirancohen, @csuwildcat, @shamilovtim, @nitro-neal

move permission api create identity to before vs beforeEach
  packages/api/tests/permission-grant.spec.ts
  packages/api/tests/permission-request.spec.ts
Owners: @lirancohen, @csuwildcat, @shamilovtim, @nitro-neal

Reduce number of tests that create new `did:dht` DIDs (#860)
  packages/agent/tests/cached-permissions.spec.ts
  packages/agent/tests/permissions-api.spec.ts
  packages/api/tests/dwn-api.spec.ts
  packages/api/tests/fixtures/protocol-definitions/email.json
  packages/api/tests/permission-grant.spec.ts
  packages/api/tests/permission-request.spec.ts
  packages/api/tests/protocol.spec.ts
  packages/api/tests/record.spec.ts
Owners: @lirancohen, @csuwildcat, @shamilovtim, @nitro-neal

Web5 agent/register did service endpoints (#741)
  packages/agent/src/hd-identity-vault.ts
  packages/api/src/web5.ts
  packages/user-agent/src/user-agent.ts
Owners: @lirancohen, @csuwildcat, @shamilovtim, @nitro-neal

remove unecessary abstraction
  packages/api/src/dwn-api.ts
  packages/api/src/record.ts
  packages/api/tests/dwn-api.spec.ts
Owners: @lirancohen, @csuwildcat, @shamilovtim, @nitro-neal

remove cached-permissions abstraction and add method to permissions api
  packages/agent/src/cached-permissions.ts
  packages/agent/src/index.ts
  packages/agent/src/permissions-api.ts
  packages/agent/src/sync-engine-level.ts
  packages/agent/src/test-harness.ts
  packages/agent/src/types/permissions.ts
  packages/agent/tests/cached-permissions.spec.ts
  packages/agent/tests/permissions-api.spec.ts
  packages/api/src/dwn-api.ts
  packages/api/src/record.ts
  packages/api/src/subscription-util.ts
  packages/api/tests/dwn-api.spec.ts
  packages/api/tests/record.spec.ts
Owners: @lirancohen, @csuwildcat, @shamilovtim, @nitro-neal

fix using delegate grant
  packages/api/src/dwn-api.ts
  packages/api/src/record.ts
  packages/api/src/subscription-util.ts
Owners: @lirancohen, @csuwildcat, @shamilovtim, @nitro-neal

add comments
  packages/api/src/dwn-api.ts
  packages/api/src/record.ts
Owners: @lirancohen, @csuwildcat, @shamilovtim, @nitro-neal

refactor how grants are added, refactor initial write processing, add tests for subscribe
  packages/api/src/dwn-api.ts
  packages/api/src/record.ts
  packages/api/tests/dwn-api.spec.ts
  packages/api/tests/record.spec.ts
Owners: @lirancohen, @csuwildcat, @shamilovtim, @nitro-neal

fix update
  packages/api/src/record.ts
Owners: @lirancohen, @csuwildcat, @shamilovtim, @nitro-neal

update behavior for storing a delete
  packages/api/src/record.ts
  packages/api/tests/record.spec.ts
Owners: @lirancohen, @csuwildcat, @shamilovtim, @nitro-neal

add testing for record delegates
  packages/api/tests/did-api.spec.ts
  packages/api/tests/record.spec.ts
Owners: @lirancohen, @csuwildcat, @shamilovtim, @nitro-neal

cached permissions set
  packages/api/src/record.ts
Owners: @lirancohen, @csuwildcat, @shamilovtim, @nitro-neal

update signing as delegate owner
  packages/api/src/dwn-api.ts
  packages/api/src/record.ts
  packages/api/src/web5.ts
  packages/api/tests/record.spec.ts
Owners: @lirancohen, @csuwildcat, @shamilovtim, @nitro-neal

update tests
  packages/api/src/dwn-api.ts
  packages/api/src/record.ts
  packages/api/tests/dwn-api.spec.ts
  packages/api/tests/permission-grant.spec.ts
  packages/api/tests/permission-request.spec.ts
  packages/api/tests/protocol.spec.ts
  packages/api/tests/record.spec.ts
Owners: @lirancohen, @csuwildcat, @shamilovtim, @nitro-neal

add grant to Record class methods
  packages/api/src/record.ts
Owners: @lirancohen, @csuwildcat, @shamilovtim, @nitro-neal

clear cache in tests, add check to process initial write within function
  packages/agent/tests/sync-engine-level.spec.ts
  packages/api/src/record.ts
  packages/api/tests/dwn-api.spec.ts
  packages/api/tests/permission-grant.spec.ts
  packages/api/tests/permission-request.spec.ts
  packages/api/tests/protocol.spec.ts
  packages/api/tests/record.spec.ts
Owners: @lirancohen, @csuwildcat, @shamilovtim, @nitro-neal

fix optional cache
  packages/agent/src/permissions-api.ts
Owners: @lirancohen, @csuwildcat, @shamilovtim

rename getPermission to getPermissionForRequest, tested caching for getPermissionForRequest
  packages/agent/src/permissions-api.ts
  packages/agent/src/sync-engine-level.ts
  packages/agent/src/types/permissions.ts
  packages/agent/tests/permissions-api.spec.ts
  packages/api/src/dwn-api.ts
  packages/api/src/record.ts
Owners: @lirancohen, @csuwildcat, @shamilovtim, @nitro-neal

add changesets, remove exclusive test
  .changeset/green-plums-swim.md
  .changeset/plenty-brooms-suffer.md
  packages/agent/tests/permissions-api.spec.ts
Owners: @csuwildcat, @lirancohen, @thehenrytsai, @shamilovtim, @nitro-neal

add grant to Record class methods (#859)
  .changeset/green-plums-swim.md
  .changeset/plenty-brooms-suffer.md
  packages/agent/src/cached-permissions.ts
  packages/agent/src/index.ts
  packages/agent/src/permissions-api.ts
  packages/agent/src/sync-engine-level.ts
  packages/agent/src/test-harness.ts
  packages/agent/src/types/permissions.ts
  packages/agent/tests/cached-permissions.spec.ts
  packages/agent/tests/permissions-api.spec.ts
  packages/agent/tests/sync-engine-level.spec.ts
  packages/api/src/dwn-api.ts
  packages/api/src/record.ts
  packages/api/src/subscription-util.ts
  packages/api/src/web5.ts
  packages/api/tests/did-api.spec.ts
  packages/api/tests/dwn-api.spec.ts
  packages/api/tests/permission-grant.spec.ts
  packages/api/tests/permission-request.spec.ts
  packages/api/tests/protocol.spec.ts
  packages/api/tests/record.spec.ts
Owners: @csuwildcat, @lirancohen, @thehenrytsai, @shamilovtim, @nitro-neal

sync engine level replaces interval when called again
  packages/agent/src/sync-engine-level.ts
  packages/agent/tests/sync-engine-level.spec.ts
Owners: @lirancohen, @csuwildcat, @shamilovtim

sync start simplification
  packages/agent/src/sync-engine-level.ts
Owners: @lirancohen, @csuwildcat, @shamilovtim

sync engine refactor
  packages/agent/src/sync-engine-level.ts
  packages/agent/tests/sync-engine-level.spec.ts
Owners: @lirancohen, @csuwildcat, @shamilovtim

update tests
  packages/api/tests/dwn-api.spec.ts
  packages/api/tests/record.spec.ts
Owners: @lirancohen, @csuwildcat, @shamilovtim, @nitro-neal
