Repository TBD54566975/web5-js, changes with the owners that CODEOWNERS names for each.
All owners: @frankhinek, @csuwildcat, @mistermoe, @thehenrytsai, @lirancohen, @shamilovtim, @nitro-neal

Update utils.ts
  packages/crypto/src/utils.ts
Owners: @csuwildcat, @thehenrytsai, @nitro-neal, @shamilovtim, @lirancohen

first pass at connect flow and grants api
  .changeset/fuzzy-baboons-own.md
  .changeset/silly-poets-sing.md
  packages/agent/src/dwn-api.ts
  packages/agent/src/identity-api.ts
  packages/agent/src/types/dwn.ts
  packages/agent/src/types/identity.ts
  packages/agent/tests/connected-permissions.spec.ts
  packages/agent/tests/did-api.spec.ts
  packages/agent/tests/dwn-api.spec.ts
  packages/agent/tests/dwn-permissions-util.spec.ts
  packages/agent/tests/identity-api.spec.ts
  packages/api/src/dwn-api.ts
  packages/api/src/web5.ts
  packages/api/tests/dwn-api.spec.ts
  packages/api/tests/web5.spec.ts
  pnpm-lock.yaml
Owners: @csuwildcat, @lirancohen, @thehenrytsai, @shamilovtim, @nitro-neal

PermissionsApi for Agent, `permissions` API for `Web5` (#833)
  .changeset/gold-lamps-obey.md
  .changeset/polite-days-wash.md
  packages/agent/src/dwn-api.ts
  packages/agent/src/dwn-permissions-util.ts
  packages/agent/src/index.ts
  packages/agent/src/permissions-api.ts
  packages/agent/src/test-harness.ts
  packages/agent/src/types/agent.ts
  packages/agent/src/types/dwn.ts
  packages/agent/src/types/permissions.ts
  packages/agent/tests/connected-permissions.spec.ts
  packages/agent/tests/dwn-api.spec.ts
  packages/agent/tests/dwn-permissions-util.spec.ts
  packages/agent/tests/permissions-api.spec.ts
  packages/agent/tests/utils/grants.ts
  packages/agent/tests/utils/test-agent.ts
  packages/api/src/dwn-api.ts
  packages/api/src/grant-revocation.ts
  packages/api/src/index.ts
  packages/api/src/permission-grant.ts
  packages/api/src/permission-request.ts
  packages/api/src/web5.ts
  packages/api/tests/dwn-api.spec.ts
  packages/api/tests/permission-grant.spec.ts
  packages/api/tests/permission-request.spec.ts
  packages/api/tests/web5.spec.ts
  packages/identity-agent/src/identity-agent.ts
  packages/identity-agent/tests/identity-agent.spec.ts
  packages/proxy-agent/src/proxy-agent.ts
  packages/proxy-agent/tests/proxy-agent.spec.ts
  packages/user-agent/src/user-agent.ts
  packages/user-agent/tests/user-agent.spec.ts
Owners: @csuwildcat, @lirancohen, @thehenrytsai, @shamilovtim, @nitro-neal

add additional comments around the signer for the permissions DWN api
  packages/api/src/dwn-api.ts
Owners: @lirancohen, @csuwildcat, @shamilovtim, @nitro-neal

package lock update after rebase
  pnpm-lock.yaml
Owners: @csuwildcat, @lirancohen, @thehenrytsai, @shamilovtim, @nitro-neal

bump dwn server
  package.json
  pnpm-lock.yaml
Owners: @csuwildcat, @lirancohen, @thehenrytsai, @shamilovtim, @nitro-neal

Adding `PermissionsApi` to agent and `permissions()` api to `Web5.dwn` with the ability to select delegate grants for `Web5.dwn` (#824)
  .changeset/fuzzy-baboons-own.md
  .changeset/gold-lamps-obey.md
  .changeset/polite-days-wash.md
  .changeset/silly-poets-sing.md
  packages/agent/src/dwn-api.ts
  packages/agent/src/dwn-permissions-util.ts
  packages/agent/src/identity-api.ts
  packages/agent/src/index.ts
  packages/agent/src/permissions-api.ts
  packages/agent/src/test-harness.ts
  packages/agent/src/types/agent.ts
  packages/agent/src/types/dwn.ts
  packages/agent/src/types/identity.ts
  packages/agent/src/types/permissions.ts
  packages/agent/tests/connected-permissions.spec.ts
  packages/agent/tests/did-api.spec.ts
  packages/agent/tests/dwn-api.spec.ts
  packages/agent/tests/dwn-permissions-util.spec.ts
  packages/agent/tests/identity-api.spec.ts
  packages/agent/tests/permissions-api.spec.ts
  packages/agent/tests/utils/grants.ts
  packages/agent/tests/utils/test-agent.ts
  packages/api/src/dwn-api.ts
  packages/api/src/grant-revocation.ts
  packages/api/src/index.ts
  packages/api/src/permission-grant.ts
  packages/api/src/permission-request.ts
  packages/api/src/web5.ts
  packages/api/tests/dwn-api.spec.ts
  packages/api/tests/permission-grant.spec.ts
  packages/api/tests/permission-request.spec.ts
  packages/api/tests/web5.spec.ts
  packages/identity-agent/src/identity-agent.ts
  packages/identity-agent/tests/identity-agent.spec.ts
  packages/proxy-agent/src/proxy-agent.ts
  packages/proxy-agent/tests/proxy-agent.spec.ts
  packages/user-agent/src/user-agent.ts
  packages/user-agent/tests/user-agent.spec.ts
  pnpm-lock.yaml
Owners: @csuwildcat, @lirancohen, @thehenrytsai, @shamilovtim, @nitro-neal

maybe fix codecov
  .github/workflows/tests-ci.yml
  codecov.yml
Owners: @csuwildcat, @lirancohen, @thehenrytsai, @shamilovtim, @nitro-neal

delete two serviceEndpointNodes const declarations in favor of prior declaration
  packages/api/src/web5.ts
Owners: @lirancohen, @csuwildcat, @shamilovtim, @nitro-neal

fix linting errors
  packages/agent/src/hd-identity-vault.ts
Owners: @lirancohen, @csuwildcat, @shamilovtim

cleanup crypto utils (#838)
  .changeset/friendly-carrots-return.md
  .github/workflows/tests-ci.yml
  codecov.yml
  package.json
  packages/agent/src/dwn-api.ts
  packages/agent/src/dwn-registrar.ts
  packages/agent/src/prototyping/clients/http-dwn-rpc-client.ts
  packages/agent/src/prototyping/clients/json-rpc-socket.ts
  packages/agent/src/prototyping/clients/web-socket-clients.ts
  packages/agent/src/prototyping/crypto/jose/jwe-flattened.ts
  packages/agent/src/rpc-client.ts
  packages/agent/tests/crypto-api.spec.ts
  packages/agent/tests/local-key-manager.spec.ts
  packages/agent/tests/prototyping/clients/json-rpc-socket.spec.ts
  packages/agent/tests/rpc-client.spec.ts
  packages/agent/tests/sync-engine-level.spec.ts
  packages/api/tests/utils/test-data-generator.ts
  packages/credentials/src/verifiable-credential.ts
  packages/credentials/src/verifiable-presentation.ts
  packages/crypto/README.md
  packages/crypto/package.json
  packages/crypto/src/index.ts
  packages/crypto/src/utils.ts
  packages/crypto/tests/algorithms/aes-ctr.spec.ts
  packages/crypto/tests/algorithms/aes-gcm.spec.ts
  packages/crypto/tests/utils.spec.ts
  packages/dids/src/bearer-did.ts
  pnpm-lock.yaml
Owners: @csuwildcat, @lirancohen, @thehenrytsai, @shamilovtim, @nitro-neal

init connect dwn integration
  examples/wallet-connect.html
  package.json
  packages/agent/src/connect.ts
  packages/agent/src/oidc.ts
  packages/api/src/web5.ts
Owners: @csuwildcat, @lirancohen, @thehenrytsai, @shamilovtim, @nitro-neal

install the protocol in the wallet
  examples/wallet-connect.html
  packages/agent/src/oidc.ts
Owners: @csuwildcat, @lirancohen, @thehenrytsai, @shamilovtim, @nitro-neal

cleanup
  examples/wallet-connect.html
  packages/agent/src/oidc.ts
Owners: @csuwildcat, @lirancohen, @thehenrytsai, @shamilovtim, @nitro-neal

comment out status list cred vectors
  packages/credentials/tests/status-list-credential.spec.ts
Owners: @csuwildcat, @thehenrytsai, @nitro-neal, @shamilovtim, @lirancohen

remove status list cred test vector
  packages/credentials/tests/status-list-credential.spec.ts
Owners: @csuwildcat, @thehenrytsai, @nitro-neal, @shamilovtim, @lirancohen

delete comment
  packages/agent/src/connect.ts
Owners: @lirancohen, @csuwildcat, @shamilovtim

delete console logs
  packages/api/src/web5.ts
Owners: @lirancohen, @csuwildcat, @shamilovtim, @nitro-neal

cleanup
  packages/agent/src/connect.ts
  packages/agent/src/oidc.ts
  packages/agent/tests/connect.spec.ts
  packages/api/src/web5.ts
  packages/api/tests/did-api.spec.ts
  packages/api/tests/web5.spec.ts
Owners: @lirancohen, @csuwildcat, @shamilovtim, @nitro-neal

add web5-spec up to main (#851)
  packages/credentials/tests/status-list-credential.spec.ts
Owners: @csuwildcat, @thehenrytsai, @nitro-neal, @shamilovtim, @lirancohen

Sync by specific protocols and by delegate did
  packages/agent/src/sync-api.ts
  packages/agent/src/sync-engine-level.ts
  packages/agent/src/types/sync.ts
  packages/agent/tests/sync-engine-level.spec.ts
Owners: @lirancohen, @csuwildcat, @shamilovtim

sync enhancements
  packages/agent/src/cached-permissions.ts
  packages/agent/src/index.ts
  packages/agent/src/sync-engine-level.ts
  packages/agent/tests/sync-engine-level.spec.ts
  packages/api/src/dwn-api.ts
Owners: @lirancohen, @csuwildcat, @shamilovtim, @nitro-neal

increase test coverage, remove duplicate tests and clean up connect method
  audit-ci.json
  packages/agent/src/sync-engine-level.ts
  packages/agent/tests/dwn-api.spec.ts
  packages/agent/tests/store-data.spec.ts
  packages/agent/tests/sync-engine-level.spec.ts
  packages/api/src/web5.ts
  packages/api/tests/web5.spec.ts
Owners: @csuwildcat, @lirancohen, @thehenrytsai, @shamilovtim, @nitro-neal

PermissionsApi for Agent, `permissions` API for `Web5` (#833)
  packages/api/tests/dwn-api.spec.ts
Owners: @lirancohen, @csuwildcat, @shamilovtim, @nitro-neal

add response detail to error in DWN store
  packages/agent/src/store-data.ts
Owners: @lirancohen, @csuwildcat, @shamilovtim

sync protocol test, used cached permissions in API package
  packages/agent/src/sync-engine-level.ts
  packages/agent/tests/sync-engine-level.spec.ts
  packages/api/src/dwn-api.ts
Owners: @lirancohen, @csuwildcat, @shamilovtim, @nitro-neal

assign specific protocols to sync based on the results of processing the grants from wallet connect
  packages/agent/src/dwn-api.ts
  packages/api/src/dwn-api.ts
  packages/api/src/web5.ts
  packages/api/tests/dwn-api.spec.ts
  packages/api/tests/web5.spec.ts
Owners: @lirancohen, @csuwildcat, @shamilovtim, @nitro-neal

increase test coverage for cached permissions class
  packages/agent/src/cached-permissions.ts
  packages/agent/tests/cached-permissions.spec.ts
Owners: @lirancohen, @csuwildcat, @shamilovtim

add changesets
  .changeset/blue-roses-cough.md
  .changeset/green-dolls-provide.md
Owners: @csuwildcat, @lirancohen, @thehenrytsai, @shamilovtim, @nitro-neal

first pass at connect flow and grants api
  packages/api/tests/dwn-api.spec.ts
Owners: @lirancohen, @csuwildcat, @shamilovtim, @nitro-neal

fix test with cache clearing
  packages/api/tests/dwn-api.spec.ts
Owners: @lirancohen, @csuwildcat, @shamilovtim, @nitro-neal

fix after rebase
  packages/api/src/dwn-api.ts
  packages/api/src/web5.ts
  packages/api/tests/dwn-api.spec.ts
  packages/api/tests/web5.spec.ts
Owners: @lirancohen, @csuwildcat, @shamilovtim, @nitro-neal

getPermissions does not return unefined, throws if there is an error getting a permission
  packages/agent/src/sync-engine-level.ts
Owners: @lirancohen, @csuwildcat, @shamilovtim

first pass at connect flow and grants api
  packages/api/src/web5.ts
  packages/api/tests/dwn-api.spec.ts
Owners: @lirancohen, @csuwildcat, @shamilovtim, @nitro-neal

skip when grants are not present in sync
  packages/agent/src/sync-engine-level.ts
Owners: @lirancohen, @csuwildcat, @shamilovtim

update dwn-sdk and account for 204 in sync
  packages/agent/src/sync-engine-level.ts
  packages/agent/tests/sync-engine-level.spec.ts
Owners: @lirancohen, @csuwildcat, @shamilovtim

empty event log on error
  packages/agent/src/sync-engine-level.ts
Owners: @lirancohen, @csuwildcat, @shamilovtim

fix tests
  packages/agent/tests/connect.spec.ts
  packages/api/src/web5.ts
  packages/api/tests/web5.spec.ts
Owners: @lirancohen, @csuwildcat, @shamilovtim, @nitro-neal

Update audit-ci.json
  audit-ci.json
Owners: @csuwildcat, @lirancohen, @thehenrytsai, @shamilovtim, @nitro-neal

fix npm audit
  audit-ci.json
  package.json
  packages/api/tests/web5.spec.ts
Owners: @csuwildcat, @lirancohen, @thehenrytsai, @shamilovtim, @nitro-neal

CODEOWNERS:

# This CODEOWNERS file denotes the project leads
# and encodes their responsibilities for code review.

# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.
# The format is described: https://github.blog/2017-07-06-introducing-code-owners/

# These owners will be the default owners for all directories in the repo that do not have a designated owner.
* @frankhinek @csuwildcat @mistermoe @thehenrytsai @lirancohen @shamilovtim

# These are owners who can approve folders under the root directory and other CICD and QoL directories.
# Should be the union list of all owners of sub-directories, optionally minus the default owners.
/**                      @csuwildcat @lirancohen @thehenrytsai @shamilovtim @nitro-neal

# These are owners of any file in the `common`, `crypto`, `crypto-aws-kms`, `dids`, and
# `credentials` packages and their sub-directories.
/packages/common         @csuwildcat @thehenrytsai @nitro-neal @shamilovtim @lirancohen
/packages/crypto         @csuwildcat @thehenrytsai @nitro-neal @shamilovtim @lirancohen
/packages/crypto-aws-kms @csuwildcat @thehenrytsai @nitro-neal @shamilovtim @lirancohen
/packages/dids           @csuwildcat @thehenrytsai @nitro-neal @shamilovtim @lirancohen
/packages/credentials    @csuwildcat @thehenrytsai @nitro-neal @shamilovtim @lirancohen 

# These are owners of any file in the `agent`, `user-agent`, `proxy-agent`, `identity-agent`, and
# `api` packages and their sub-directories.
/packages/agent          @lirancohen @csuwildcat @shamilovtim
/packages/proxy-agent    @lirancohen @csuwildcat @shamilovtim
/packages/user-agent     @lirancohen @csuwildcat @shamilovtim
/packages/identity-agent @lirancohen @csuwildcat @shamilovtim
/packages/api            @lirancohen @csuwildcat @shamilovtim @nitro-neal
