Repository TBD54566975/web5-js, changes with the owners that CODEOWNERS names for each.
All owners: @frankhinek, @csuwildcat, @mistermoe, @thehenrytsai, @lirancohen, @shamilovtim, @nitro-neal

CODEOWNERS:

# This CODEOWNERS file denotes the project leads
# and encodes their responsibilities for code review.

# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.
# The format is described: https://github.blog/2017-07-06-introducing-code-owners/

# These owners will be the default owners for all directories in the repo that do not have a designated owner.
* @frankhinek @csuwildcat @mistermoe @thehenrytsai @lirancohen @shamilovtim

# These are owners who can approve folders under the root directory and other CICD and QoL directories.
# Should be the union list of all owners of sub-directories, optionally minus the default owners.
/**                      @csuwildcat @lirancohen @thehenrytsai @shamilovtim @nitro-neal

# These are owners of any file in the `common`, `crypto`, `crypto-aws-kms`, `dids`, and
# `credentials` packages and their sub-directories.
/packages/common         @csuwildcat @thehenrytsai @nitro-neal @shamilovtim @lirancohen
/packages/crypto         @csuwildcat @thehenrytsai @nitro-neal @shamilovtim @lirancohen
/packages/crypto-aws-kms @csuwildcat @thehenrytsai @nitro-neal @shamilovtim @lirancohen
/packages/dids           @csuwildcat @thehenrytsai @nitro-neal @shamilovtim @lirancohen
/packages/credentials    @csuwildcat @thehenrytsai @nitro-neal @shamilovtim @lirancohen 

# These are owners of any file in the `agent`, `user-agent`, `proxy-agent`, `identity-agent`, and
# `api` packages and their sub-directories.
/packages/agent          @lirancohen @csuwildcat @shamilovtim
/packages/proxy-agent    @lirancohen @csuwildcat @shamilovtim
/packages/user-agent     @lirancohen @csuwildcat @shamilovtim
/packages/identity-agent @lirancohen @csuwildcat @shamilovtim
/packages/api            @lirancohen @csuwildcat @shamilovtim @nitro-neal

remove push and pull methods from sync-api
  packages/agent/src/sync-api.ts
Owners: @lirancohen, @csuwildcat, @shamilovtim

add a badge
  packages/api/README.md
Owners: @lirancohen, @csuwildcat, @shamilovtim, @nitro-neal

update badges
  packages/api/README.md
Owners: @lirancohen, @csuwildcat, @shamilovtim, @nitro-neal

backward compatiblity for registered identities
  packages/agent/src/sync-engine-level.ts
Owners: @lirancohen, @csuwildcat, @shamilovtim

add comments to interface type
  packages/agent/src/types/sync.ts
Owners: @lirancohen, @csuwildcat, @shamilovtim

SyncEngineLevel respects most recent startSync interval. (#887)
  packages/agent/src/sync-engine-level.ts
  packages/agent/src/types/sync.ts
  packages/agent/tests/sync-engine-level.spec.ts
  packages/api/tests/dwn-api.spec.ts
  packages/api/tests/record.spec.ts
Owners: @lirancohen, @csuwildcat, @shamilovtim, @nitro-neal

add changset missed for https://github.com/TBD54566975/web5-js/pull/887
  .changeset/afraid-geese-knock.md
Owners: @csuwildcat, @lirancohen, @thehenrytsai, @shamilovtim, @nitro-neal

update test harness to stop sync before clearing storage, make stop sync block until sync finishes
  packages/agent/src/sync-api.ts
  packages/agent/src/sync-engine-level.ts
  packages/agent/src/test-harness.ts
  packages/agent/src/types/sync.ts
  packages/agent/tests/sync-engine-level.spec.ts
  packages/api/tests/web5.spec.ts
Owners: @lirancohen, @csuwildcat, @shamilovtim, @nitro-neal

upgrade to latest dwn-server
  package.json
  packages/dev-env/docker-compose.yaml
  pnpm-lock.yaml
Owners: @csuwildcat, @lirancohen, @thehenrytsai, @shamilovtim, @nitro-neal

Added optional timeout paramter to `stopSync`
  packages/agent/src/sync-api.ts
  packages/agent/src/sync-engine-level.ts
  packages/agent/src/types/sync.ts
  packages/agent/tests/sync-engine-level.spec.ts
Owners: @lirancohen, @csuwildcat, @shamilovtim

Modify `stopSync` to block if sync is currently active (#889)
  .changeset/afraid-geese-knock.md
  package.json
  packages/agent/src/sync-api.ts
  packages/agent/src/sync-engine-level.ts
  packages/agent/src/test-harness.ts
  packages/agent/src/types/sync.ts
  packages/agent/tests/sync-engine-level.spec.ts
  packages/api/tests/web5.spec.ts
  packages/dev-env/docker-compose.yaml
  pnpm-lock.yaml
Owners: @csuwildcat, @lirancohen, @thehenrytsai, @shamilovtim, @nitro-neal

update dataFormat
  packages/api/src/record.ts
  packages/api/tests/record.spec.ts
Owners: @lirancohen, @csuwildcat, @shamilovtim, @nitro-neal

fix lint, additional test case, add changeset
  .changeset/fuzzy-apes-cheer.md
  packages/api/tests/record.spec.ts
Owners: @csuwildcat, @lirancohen, @thehenrytsai, @shamilovtim, @nitro-neal

`dataFormat` is a mutable property (#892)
  .changeset/fuzzy-apes-cheer.md
  packages/api/src/record.ts
  packages/api/tests/record.spec.ts
Owners: @csuwildcat, @lirancohen, @thehenrytsai, @shamilovtim, @nitro-neal

differentiate between creator and author
  packages/api/src/record.ts
  packages/api/tests/record.spec.ts
Owners: @lirancohen, @csuwildcat, @shamilovtim, @nitro-neal

first pass at live sync
  packages/agent/src/sync-engine-level.ts
  packages/user-agent/src/user-agent.ts
Owners: @lirancohen, @csuwildcat, @shamilovtim

lint and sync upon agent recover
  packages/agent/src/index.ts
  packages/agent/src/sync-engine-level.ts
  packages/api/src/web5.ts
Owners: @lirancohen, @csuwildcat, @shamilovtim, @nitro-neal

added changeset
  .changeset/brown-experts-lay.md
Owners: @csuwildcat, @lirancohen, @thehenrytsai, @shamilovtim, @nitro-neal

differentiate between Record creator and author (#893)
  .changeset/brown-experts-lay.md
  packages/api/src/record.ts
  packages/api/tests/record.spec.ts
Owners: @csuwildcat, @lirancohen, @thehenrytsai, @shamilovtim, @nitro-neal

add the ability to manage sync options per identity
  packages/agent/src/sync-api.ts
  packages/agent/src/sync-engine-level.ts
  packages/agent/src/types/sync.ts
Owners: @lirancohen, @csuwildcat, @shamilovtim

test new identity register/update features
  packages/agent/src/sync-api.ts
  packages/agent/src/sync-engine-level.ts
  packages/agent/src/types/sync.ts
  packages/agent/tests/sync-engine-level.spec.ts
Owners: @lirancohen, @csuwildcat, @shamilovtim

add changeset
  .changeset/lovely-eyes-tell.md
Owners: @csuwildcat, @lirancohen, @thehenrytsai, @shamilovtim, @nitro-neal

remove testing comment
  packages/agent/src/sync-engine-level.ts
Owners: @lirancohen, @csuwildcat, @shamilovtim

mistakenly removed type import quialifier
  packages/agent/src/sync-engine-level.ts
Owners: @lirancohen, @csuwildcat, @shamilovtim

Ability to update SyncOptions for an identity (#895)
  .changeset/lovely-eyes-tell.md
  packages/agent/src/sync-api.ts
  packages/agent/src/sync-engine-level.ts
  packages/agent/src/types/sync.ts
  packages/agent/tests/sync-engine-level.spec.ts
Owners: @csuwildcat, @lirancohen, @thehenrytsai, @shamilovtim, @nitro-neal

replace list of beareridentities, with listMetadata of IdentityMetadata in the identity API to prevent issues when syncing identity agents
  packages/agent/src/identity-api.ts
  packages/agent/tests/identity-api.spec.ts
  packages/api/src/web5.ts
  packages/api/tests/web5.spec.ts
  packages/identity-agent/tests/managing-identities.spec.ts
Owners: @lirancohen, @csuwildcat, @shamilovtim, @nitro-neal

add changesets
  .changeset/popular-monkeys-rush.md
  .changeset/witty-pants-serve.md
Owners: @csuwildcat, @lirancohen, @thehenrytsai, @shamilovtim, @nitro-neal

allow for reading/querying/subscribing to public records without explicit permissions when in a delegated state
  packages/api/src/dwn-api.ts
  packages/api/src/record.ts
  packages/api/tests/dwn-api.spec.ts
  packages/api/tests/record.spec.ts
  packages/api/tests/web5.spec.ts
Owners: @lirancohen, @csuwildcat, @shamilovtim, @nitro-neal

add changeset
  .changeset/slow-pets-vanish.md
Owners: @csuwildcat, @lirancohen, @thehenrytsai, @shamilovtim, @nitro-neal

vulnerability patch using pnpm audit --fix
  package.json
  pnpm-lock.yaml
Owners: @csuwildcat, @lirancohen, @thehenrytsai, @shamilovtim, @nitro-neal

Allow for Reading public Records/Protocols when in a delegated state (#899)
  .changeset/slow-pets-vanish.md
  package.json
  packages/api/src/dwn-api.ts
  packages/api/src/record.ts
  packages/api/tests/dwn-api.spec.ts
  packages/api/tests/record.spec.ts
  packages/api/tests/web5.spec.ts
  pnpm-lock.yaml
Owners: @csuwildcat, @lirancohen, @thehenrytsai, @shamilovtim, @nitro-neal

remove request for protocols query, as it would create duplicates
  packages/agent/src/connect.ts
  packages/api/src/web5.ts
Owners: @lirancohen, @csuwildcat, @shamilovtim, @nitro-neal

add comment/TODO
  packages/agent/src/connect.ts
  packages/api/src/dwn-api.ts
Owners: @lirancohen, @csuwildcat, @shamilovtim, @nitro-neal

add ability to query for protocols with grants
  packages/agent/package.json
  packages/agent/src/connect.ts
  packages/agent/src/oidc.ts
  packages/agent/src/utils.ts
  packages/agent/tests/connect.spec.ts
  packages/api/src/dwn-api.ts
  packages/api/tests/web5.spec.ts
  pnpm-lock.yaml
Owners: @lirancohen, @csuwildcat, @shamilovtim, @nitro-neal, @thehenrytsai

lint fix
  packages/agent/src/utils.ts
Owners: @lirancohen, @csuwildcat, @shamilovtim

allow query/configure of protocols with grants, query without grant for public protocols
  packages/agent/src/connect.ts
  packages/api/src/dwn-api.ts
Owners: @lirancohen, @csuwildcat, @shamilovtim, @nitro-neal

add comments
  packages/agent/src/oidc.ts
  packages/api/src/dwn-api.ts
Owners: @lirancohen, @csuwildcat, @shamilovtim, @nitro-neal

upgrade dwn-server
  package.json
  packages/agent/src/connect.ts
  packages/api/package.json
  packages/dev-env/docker-compose.yaml
  pnpm-lock.yaml
Owners: @csuwildcat, @lirancohen, @thehenrytsai, @shamilovtim, @nitro-neal

records query/read/subscribe should attempt with delegate DID if no permission is found
  packages/api/src/dwn-api.ts
Owners: @lirancohen, @csuwildcat, @shamilovtim, @nitro-neal

temporary change in protocols configure/query behavior
  packages/api/src/dwn-api.ts
  packages/api/tests/web5.spec.ts
Owners: @lirancohen, @csuwildcat, @shamilovtim, @nitro-neal
