Repository TBD54566975/web5-js, changes with the owners that CODEOWNERS names for each.
All owners: @frankhinek, @csuwildcat, @mistermoe, @thehenrytsai, @lirancohen, @shamilovtim, @nitro-neal

[WIP] SyncEngine for specific protocols + delegate sync. (#836)
  .changeset/blue-roses-cough.md
  .changeset/green-dolls-provide.md
  audit-ci.json
  packages/agent/src/cached-permissions.ts
  packages/agent/src/dwn-api.ts
  packages/agent/src/index.ts
  packages/agent/src/store-data.ts
  packages/agent/src/sync-api.ts
  packages/agent/src/sync-engine-level.ts
  packages/agent/src/types/sync.ts
  packages/agent/tests/cached-permissions.spec.ts
  packages/agent/tests/dwn-api.spec.ts
  packages/agent/tests/store-data.spec.ts
  packages/agent/tests/sync-engine-level.spec.ts
  packages/api/src/dwn-api.ts
  packages/api/src/web5.ts
  packages/api/tests/dwn-api.spec.ts
  packages/api/tests/web5.spec.ts
Owners: @csuwildcat, @lirancohen, @thehenrytsai, @shamilovtim, @nitro-neal

rebase adjustment
  packages/api/src/dwn-api.ts
  packages/api/src/record.ts
  packages/api/tests/dwn-api.spec.ts
Owners: @lirancohen, @csuwildcat, @shamilovtim, @nitro-neal

test records.subscribe base case
  packages/api/src/dwn-api.ts
  packages/api/src/record.ts
  packages/api/tests/dwn-api.spec.ts
Owners: @lirancohen, @csuwildcat, @shamilovtim, @nitro-neal

add subscription doc to readme
  packages/api/README.md
Owners: @lirancohen, @csuwildcat, @shamilovtim, @nitro-neal

create a SubscriptionUtil class
  packages/api/src/dwn-api.ts
  packages/api/src/subscription-util.ts
Owners: @lirancohen, @csuwildcat, @shamilovtim, @nitro-neal

add changset
  .changeset/lovely-rules-fold.md
Owners: @csuwildcat, @lirancohen, @thehenrytsai, @shamilovtim, @nitro-neal

add comments
  packages/api/src/dwn-api.ts
Owners: @lirancohen, @csuwildcat, @shamilovtim, @nitro-neal

[WIP] Records Subscriptions in `@web5/api` (#522)
  .changeset/lovely-rules-fold.md
  packages/api/README.md
  packages/api/src/dwn-api.ts
  packages/api/src/record.ts
  packages/api/src/subscription-util.ts
  packages/api/tests/dwn-api.spec.ts
Owners: @csuwildcat, @lirancohen, @thehenrytsai, @shamilovtim, @nitro-neal

rebase
  packages/api/src/web5.ts
  packages/api/tests/web5.spec.ts
  pnpm-lock.yaml
Owners: @lirancohen, @csuwildcat, @shamilovtim, @nitro-neal, @thehenrytsai

clean up PR
  audit-ci.json
  packages/agent/src/oidc.ts
  packages/agent/tests/connect.spec.ts
Owners: @csuwildcat, @lirancohen, @thehenrytsai, @shamilovtim, @nitro-neal

remove delegate grants return
  examples/wallet-connect.html
  packages/api/src/web5.ts
Owners: @csuwildcat, @lirancohen, @thehenrytsai, @shamilovtim, @nitro-neal

add changeset
  .changeset/spicy-forks-attack.md
Owners: @csuwildcat, @lirancohen, @thehenrytsai, @shamilovtim, @nitro-neal

Create tidy-ants-shave.md
  .changeset/tidy-ants-shave.md
Owners: @csuwildcat, @lirancohen, @thehenrytsai, @shamilovtim, @nitro-neal

connect dwn integration (#850)
  .changeset/spicy-forks-attack.md
  .changeset/tidy-ants-shave.md
  examples/wallet-connect.html
  package.json
  packages/agent/src/connect.ts
  packages/agent/src/oidc.ts
  packages/agent/tests/connect.spec.ts
  packages/api/src/web5.ts
  packages/api/tests/did-api.spec.ts
  packages/api/tests/web5.spec.ts
  pnpm-lock.yaml
Owners: @csuwildcat, @lirancohen, @thehenrytsai, @shamilovtim, @nitro-neal

add changeset
  .changeset/fresh-olives-dance.md
Owners: @csuwildcat, @lirancohen, @thehenrytsai, @shamilovtim, @nitro-neal

add requestPermissionsForProtocol helper method to connect module
  packages/agent/src/connect.ts
  packages/agent/tests/connect.spec.ts
Owners: @lirancohen, @csuwildcat, @shamilovtim

rebase and update OIDC methods to account for change
  packages/agent/src/oidc.ts
  packages/agent/tests/connect.spec.ts
Owners: @lirancohen, @csuwildcat, @shamilovtim

update permission helper
  examples/wallet-connect.html
  packages/agent/src/connect.ts
  packages/agent/src/oidc.ts
  packages/agent/tests/connect.spec.ts
  packages/api/src/web5.ts
Owners: @csuwildcat, @lirancohen, @thehenrytsai, @shamilovtim, @nitro-neal

registerIdentity does not require options, add test coverage
  packages/agent/src/sync-api.ts
  packages/agent/src/sync-engine-level.ts
  packages/agent/src/types/sync.ts
  packages/agent/tests/sync-engine-level.spec.ts
  packages/api/tests/web5.spec.ts
Owners: @lirancohen, @csuwildcat, @shamilovtim, @nitro-neal

check for conflict response when sending to remote, also send protocol definition to remote
  packages/agent/src/oidc.ts
Owners: @lirancohen, @csuwildcat, @shamilovtim

review comments
  packages/agent/src/sync-engine-level.ts
  packages/agent/tests/connect.spec.ts
Owners: @lirancohen, @csuwildcat, @shamilovtim

recovery code: attempting to recover records
  packages/api/src/utils.ts
  packages/api/src/web5.ts
Owners: @lirancohen, @csuwildcat, @shamilovtim, @nitro-neal

move creating permission requests into the connect method, modify testing
  packages/agent/src/connect.ts
  packages/agent/tests/connect.spec.ts
  packages/agent/tests/rpc-client.spec.ts
  packages/agent/tests/sync-engine-level.spec.ts
  packages/api/src/web5.ts
  packages/api/tests/web5.spec.ts
Owners: @lirancohen, @csuwildcat, @shamilovtim, @nitro-neal

update example
  examples/wallet-connect.html
Owners: @csuwildcat, @lirancohen, @thehenrytsai, @shamilovtim, @nitro-neal

Add requestPermissionsForProtocol helper method to connect module (#854)
  .changeset/fresh-olives-dance.md
  examples/wallet-connect.html
  packages/agent/src/connect.ts
  packages/agent/src/oidc.ts
  packages/agent/src/sync-api.ts
  packages/agent/src/sync-engine-level.ts
  packages/agent/src/types/sync.ts
  packages/agent/tests/connect.spec.ts
  packages/agent/tests/rpc-client.spec.ts
  packages/agent/tests/sync-engine-level.spec.ts
  packages/api/src/web5.ts
  packages/api/tests/web5.spec.ts
Owners: @csuwildcat, @lirancohen, @thehenrytsai, @shamilovtim, @nitro-neal

update dwn-server/dwn-sdk-js
  package.json
  packages/agent/package.json
  packages/api/package.json
  packages/dev-env/docker-compose.yaml
  pnpm-lock.yaml
Owners: @csuwildcat, @lirancohen, @thehenrytsai, @shamilovtim, @nitro-neal

after rebase
  pnpm-lock.yaml
Owners: @csuwildcat, @lirancohen, @thehenrytsai, @shamilovtim, @nitro-neal

add changesets
  .changeset/gold-tools-yell.md
  .changeset/warm-starfishes-beam.md
Owners: @csuwildcat, @lirancohen, @thehenrytsai, @shamilovtim, @nitro-neal

include sinon.restore in more places where it might be needed
  packages/credentials/tests/jwt.spec.ts
  packages/credentials/tests/ssi-validator.spec.ts
  packages/credentials/tests/verifiable-credential.spec.ts
  packages/crypto-aws-kms/tests/utils.spec.ts
  packages/crypto/tests/local-key-manager.spec.ts
  packages/dids/tests/bearer-did.spec.ts
  packages/dids/tests/methods/did-dht.spec.ts
  packages/dids/tests/methods/did-ion.spec.ts
  packages/dids/tests/methods/did-web.spec.ts
  packages/dids/tests/resolver/resolver-cache-level.spec.ts
Owners: @csuwildcat, @thehenrytsai, @nitro-neal, @shamilovtim, @lirancohen

Upgrade dwn-server and dwn-sdk-js (#853)
  .changeset/gold-tools-yell.md
  .changeset/warm-starfishes-beam.md
  package.json
  packages/agent/package.json
  packages/api/package.json
  packages/credentials/tests/jwt.spec.ts
  packages/credentials/tests/ssi-validator.spec.ts
  packages/credentials/tests/verifiable-credential.spec.ts
  packages/crypto-aws-kms/tests/utils.spec.ts
  packages/crypto/tests/local-key-manager.spec.ts
  packages/dev-env/docker-compose.yaml
  packages/dids/tests/bearer-did.spec.ts
  packages/dids/tests/methods/did-dht.spec.ts
  packages/dids/tests/methods/did-ion.spec.ts
  packages/dids/tests/methods/did-web.spec.ts
  packages/dids/tests/resolver/resolver-cache-level.spec.ts
  pnpm-lock.yaml
Owners: @csuwildcat, @lirancohen, @thehenrytsai, @shamilovtim, @nitro-neal

lint
  packages/agent/src/agent-did-resolver-cache.ts
  packages/agent/src/did-api.ts
Owners: @lirancohen, @csuwildcat, @shamilovtim

modify workflow for alpha npm to build crypto first
  .github/workflows/alpha-npm.yml
Owners: @csuwildcat, @lirancohen, @thehenrytsai, @shamilovtim, @nitro-neal

build sequentially for alpha tagging
  .github/workflows/alpha-npm.yml
  scripts/build-sequentially.sh
Owners: @csuwildcat, @lirancohen, @thehenrytsai, @shamilovtim, @nitro-neal

pnpm build in workflow instead of script file
  .github/workflows/alpha-npm.yml
  scripts/build-sequentially.sh
Owners: @csuwildcat, @lirancohen, @thehenrytsai, @shamilovtim, @nitro-neal

pnpm audit patch for CVE-2024-43788
  package.json
  pnpm-lock.yaml
Owners: @csuwildcat, @lirancohen, @thehenrytsai, @shamilovtim, @nitro-neal

agent did api resolver cache
  packages/agent/package.json
  packages/agent/src/agent-did-resolver-cache.ts
  packages/agent/src/did-api.ts
  packages/agent/src/identity-api.ts
  packages/agent/src/index.ts
  packages/dids/src/resolver/resolver-cache-level.ts
  packages/dids/src/resolver/universal-resolver.ts
  packages/user-agent/src/user-agent.ts
  pnpm-lock.yaml
Owners: @lirancohen, @csuwildcat, @shamilovtim, @thehenrytsai, @nitro-neal

add test cases for agent did cache resolution
  packages/agent/src/agent-did-resolver-cache.ts
  packages/agent/src/identity-api.ts
  packages/agent/tests/agent-did-resolver-cach.spec.ts
Owners: @lirancohen, @csuwildcat, @shamilovtim

complete coverage for AgentDidResolverCache
  packages/agent/tests/agent-did-resolver-cach.spec.ts
Owners: @lirancohen, @csuwildcat, @shamilovtim

use agent did cache in test harness
  packages/agent/src/test-harness.ts
Owners: @lirancohen, @csuwildcat, @shamilovtim

update hermit on alpha npm workflow
  .github/workflows/alpha-npm.yml
Owners: @csuwildcat, @lirancohen, @thehenrytsai, @shamilovtim, @nitro-neal

CODEOWNERS:

# This CODEOWNERS file denotes the project leads
# and encodes their responsibilities for code review.

# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.
# The format is described: https://github.blog/2017-07-06-introducing-code-owners/

# These owners will be the default owners for all directories in the repo that do not have a designated owner.
* @frankhinek @csuwildcat @mistermoe @thehenrytsai @lirancohen @shamilovtim

# These are owners who can approve folders under the root directory and other CICD and QoL directories.
# Should be the union list of all owners of sub-directories, optionally minus the default owners.
/**                      @csuwildcat @lirancohen @thehenrytsai @shamilovtim @nitro-neal

# These are owners of any file in the `common`, `crypto`, `crypto-aws-kms`, `dids`, and
# `credentials` packages and their sub-directories.
/packages/common         @csuwildcat @thehenrytsai @nitro-neal @shamilovtim @lirancohen
/packages/crypto         @csuwildcat @thehenrytsai @nitro-neal @shamilovtim @lirancohen
/packages/crypto-aws-kms @csuwildcat @thehenrytsai @nitro-neal @shamilovtim @lirancohen
/packages/dids           @csuwildcat @thehenrytsai @nitro-neal @shamilovtim @lirancohen
/packages/credentials    @csuwildcat @thehenrytsai @nitro-neal @shamilovtim @lirancohen 

# These are owners of any file in the `agent`, `user-agent`, `proxy-agent`, `identity-agent`, and
# `api` packages and their sub-directories.
/packages/agent          @lirancohen @csuwildcat @shamilovtim
/packages/proxy-agent    @lirancohen @csuwildcat @shamilovtim
/packages/user-agent     @lirancohen @csuwildcat @shamilovtim
/packages/identity-agent @lirancohen @csuwildcat @shamilovtim
/packages/api            @lirancohen @csuwildcat @shamilovtim @nitro-neal
